
<div class="modal" ng-controller="TemplateFieldsController">
	<div class="modal-dialog modal-wide">
		<div class="modal-content">
			<div class="modal-header">
				<h3>{{'PROPERTY.PROPERTY.EDIT.TITLE' | translate}} "{{property.title | translate}}"</h3>
			</div>
			
			<div class="modal-body">
				<div class="row row-no-gutter">
					<div class="col-xs-6">
						<div ng-if="translationsRetrieved" class="kis-listener-grid" ui-grid="gridOptions" ui-grid-selection></div>
					</div>

					<div class="col-xs-6">
						<div ng-show="selectedField">
							<div class="form-group">
								<label translate>PROPERTY.FIELDS.NAME</label> <input type="text" class="form-control" ng-model="selectedField.name" placeholder="{{'PROPERTY.FIELDS.NAME.PLACEHOLDER' | translate}}" />
							</div>
							<div>
								<label translate>PROPERTY.FIELDS.STRINGVALUE</label> <input type="text" class="form-control" ng-model="selectedField.value" placeholder="{{'PROPERTY.FIELDS.STRINGVALUE.PLACEHOLDER' | translate}}" />
							</div>
						</div>
						<div ng-show="!selectedField" class="muted no-property-selected" translate>PROPERTY.FIELDS.EMPTY</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
			</div>
		</div>
	</div>
</div>
